body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#screen {
  background-color: black;

  width: 20px;
  height: 70px;
  padding: 0px;
  margin: 0px;
 border-color: black;
  color: green;

}
#textShow{
  width:200px;
  height: 200px;
}